<launch>
    <!-- launch the custom world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="True"/>
        <!--arg name="use_sim_time" value="False" /-->
        <arg name="world_name" value="$(find cartpole_description)/worlds/cart_world.world"/>
        <env name="GAZEBO_MODEL_PATH" value="$(find cartpole_description)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    </include>

    <arg name="put_robot_in_world" default="false" />
    <arg name="put_robot_in_world_package" default="" />
    <arg name="put_robot_in_world_launch" default="" />

    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group if="$(arg put_robot_in_world)">
        <include file="$(eval find(put_robot_in_world_package) + '/launch/' + put_robot_in_world_launch)">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="roll" value="$(arg roll)"/>
            <arg name="pitch" value="$(arg pitch)"/>
            <arg name="yaw" value="$(arg yaw)" />
        </include>
    </group>

</launch>