<?xml version="1.0"?>
<model>
  <name>obstacle_course_wuao</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Wuao Liu</name>
    <email>wuaoliu@umich.edu</email>
  </author>
  <description>
    This is a mannually set obstacle configuration to test the ASV.
  </description>
</model>
