<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam command="load" file="$(find cartpole3d)/config/cartpole3d_train_all_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="cartpole3d" name="cartpole3d_train_all" type="cartpole3d_train_all.py" output="screen"/>
</launch>
