<?xml version="1.0"?>
<model>
  <name>obstacle_course_regular</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Wuao Liu</name>
    <email>wuaoliu@umich.edu</email>
  </author>
  <description>
    A 60*60 obstacle field consisting of polyform_a7.
  </description>
</model>
